<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Invest in St. Louis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css/" > -->
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
        <!-- Leaflet JS & CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

        <!-- d3 JavaScript -->
        <script src="https://d3js.org/d3.v4.min.js"></script>

   
   
    </head>

    <body>
        <!-- Page Title-->
        <div class="header" style = "text-align:center">
            <img src="../static/img/arch4.png" alt="arch4"/>
            <h1>Invest St. Louis</h1>
            <h2>Please select how you would like to invest.</h2>
        </div>


        <div class="row content">
            <div class="col-sm-2 text-left "></div>
            <div class="col-sm-3 text-center ">
                <a href="personal.html" class="btn btn-primary btn-lg btn-block btn-huge">Personal Use</a>                    
            </div>
            <div class="col-sm-2 text-left "></div>
            <div class="col-sm-3  text-center">
                <a href="business.html" class="btn btn-primary btn-lg btn-block btn-huge">Business Use</a>
            </div>
            <div class="col-sm-2 text-left "></div>
        </div>
        <div class="row content">
            <div class="col-sm-12 text-center ">
                <p>This project brought to you by <a href= https://github.com/roricooper/>Rori Cooper</a>, 
                    <a href = https://github.com/rkalhorn/>Rebecca Kalhorn</a>,
                    <a href= https://github.com/rajeshsikka/>Rajesh Sikka</a>, and
                    <a href= https://github.com/richardxu96/>Richard Xu</a>.
                </p>
            </div>
        </div>
        </br>
     
        <!-- map div -->
        <div id="map"></div>
        
        <!-- API key -->
        <script type="text/javascript" src="../static/js/config.js"></script>
        
        <!-- JS  -->
        <script type="text/javascript" src="../static/js/logic.js"></script>

    </body>

</html>