<!DOCTYPE html>
<html lang="en-us">
    <head>
            <meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
						<link rel="stylesheet" href="../static/css/style.css" type="text/css">
							<!-- Leaflet JS & CSS -->
							<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
							<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
							<!-- d3 JavaScript -->
							<script src="https://d3js.org/d3.v4.min.js"></script>
							<style>


            /* Add a gray background color and some padding to the footer */
            footer {
				background-color: #f2f2f2;
			  padding: 25px;

            }

            .carousel-inner img {
              width: 100%; /* Set width to 100% */
              min-height: 200px;

            }


            /* Hide the carousel text when the screen is less than 600 pixels wide */


              </style>  
        </head>
                        
    <!-- Page Title-->
    <body background="../static/img/bgtrans.PNG">
                    


 
       <!-- Nav Bar -->
  
       <nav class="navbar navbar-light bg-light navbar-expand-lg">
            <a class="navbar-brand" href="/" style = "margin-top:-13px">Invest St. Louis</br>Home Page</a>
            <a class="navbar-brand" href="PersonalLandingPage.html" style = "margin-top:-13px" >Invest St. Louis</br>Personal Home Page</a>
            <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarCollapse" >
                <ul class="navbar-nav" style = "float:right" >
                    <li class="navbar-item">
                        <a href="personal_criteria.html" class="nav-link" style = "text-align:center">Explore By</br>Criteria</a>
                    </li>
                    <li class="navbar-item" >
                        <a href="personal_zips.html" class="nav-link" style = "text-align:center">Explore By</br>Zip</a>
                    </li>
                    <li class="navbar-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style = "text-align:center">
                        Explore STL</br>By Criteria</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Maps.html">Maps</a>
                            <a class="dropdown-item" href="/Population.html">Population</a>
                            <a class="dropdown-item" href="/Crime.html">Crime</a>
                            <a class="dropdown-item" href="/Income.html">Income</a>
                            <a class="dropdown-item" href="https://roricooper.github.io/"> Education</a>
                            <a class="dropdown-item" href="https://github.com/rkalhorn/project1/tree/master/Project%201"> Businesses Github repo</a>
                            <a class="dropdown-item" href="/DiscoverStLouis.pptx"> Project Power Point Presenation</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>



         
        <!--Dashboard Content Begins-->
         
        <div class="container fluid text-center">      
            <h1>Invest in St. Louis</br>Zip Code Summary</h1>    
            <h2>Choose a Zip Code</h2>    
            <select id="selDataset"  onchange= optionChanged(this.value)>   
                <option disabled selected value> -- select a zip code -- </option>
                <option value="63101">63101</option>
                <option value="63102">63102</option>
                <option value="63103">63103</option>
                <option value="63104">63104</option>
                <option value="63106">63106</option>
                <option value="63107">63107</option>
                <option value="63108">63108</option>     
                <option value="63109">63109</option>
                <option value="63110">63110</option>
                <option value="63111">63111</option>
                <option value="63112">63112</option>
                <option value="63113">63113</option>
                <option value="63115">63115</option>
                <option value="63116">63116</option>
                <option value="63118">63118</option>
                <option value="63139">63139</option>
                <option value="63147">63147</option>
            </select>   
            <br>
            <br>
                    <!-- Summary Cards -->
                    <div class = "row">
                            <div class="container text-center">
                                <div class="bs-component">
                                    <!----->
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                                            <div class="card-header">Business</div>
                                            <div class="card-body">
                                                <i class="fas fa-hand-holding-usd fa-6x"></i>
                                                <h4 class="card-title" id = "business_rating">#Pull in Rating Here</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!----->
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                                            <div class="card-header">Crime</div>
                                            <div class="card-body">
                                                <i class="fas fa-exclamation-triangle fa-6x"></i>
                                                <h4 class="card-title" id="crime_rating">#Pull in Rating Here</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!----->
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                                            <div class="card-header">Education</div>
                                            <div class="card-body">
                                                <i class="fas fa-graduation-cap fa-6x"></i>
                                                <h4 class="card-title" id="education_rating">#Pull in Rating Here</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <!----->
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                                            <div class="card-header">Real Estate</div>
                                            <div class="card-body">
                                                <i class="fas fa-home fa-6x"></i>
                                                <h4 class="card-title" id = "real_rating">#Pull in Rating Here</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!----->
                            </div>
                        </div>
                
            <div class="row content">
                    <div class="col-sm-6 text-left">
                        <div id="map"></div>
                    </div>
                    <div class="col-sm-6  text-center">
                        <div id="mytable"></div>
                        
                    </div>
                </div>


    <div class="row content">
        <div class="col-sm-12 text-center ">
            <p>This project brought to you by <a href= https://github.com/roricooper/>Rori Cooper</a>, 
                <a href = https://github.com/rkalhorn/>Rebecca Kalhorn</a>,
                <a href= https://github.com/rajeshsikka/>Rajesh Sikka</a>, and
                <a href= https://github.com/richardxu96/>Richard Xu</a>.
            </p>
        </div>
    </div>
</div>

</br>
     
<!-- API key -->
<script type="text/javascript" src="../static/js/config.js"></script>
<!-- JS  -->
<script type="text/javascript" src="../static/js/app_personal_zip.js"></script>

</body>

</html>